<!DOCTYPE html>
<html>
  <head>
    <meta charset="8-utf">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Пошук дітей</title>
    <style>
		.container {
		    width: 300px;
		    height: 300px;
		    margin: 10px;
		}

		/* resize images */
		.container img {
			height:300px;
			max-height:300px;
    		width: auto;		}
	</style>
  </head>

  <body>
   {% for key, list in dict.items() %}
      <h1>Область: {{key}}</h1>
		{% for item in list %}
			<div>
				<div class="container"><img src="http://www.msp.gov.ua{{item}}" /></div>
				<button>Переглянуто</button>
			</div>
		{% endfor %}
   {% endfor %}
	
  </body>
</html>

